.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    min-height: 100vh;
}
.flex-child {
    color: white;
    flex-grow: 1;
}
.flex-main-section {
    flex-grow: 10;
    padding: 1rem 2rem;
    color: #000;
    font-family: 'arial';
    width: 80%;
    margin-bottom: 3%;
}
.width10 {
    width: 10%;
}

@media screen and (max-width: 768px) {
.flex-container {
    padding-top: 60px;
}
}