.margin-0 {
    margin: 0;
}
.fontSize-2rem {
    font-size: 2rem;
}
.fontWeight-700 {
    font-weight: 700;
}
.key-concept-section {
    margin-bottom: 1rem;
}
.snippetBox {
    padding: 1rem;
    background: #00354e;
    border-radius: 5px;
    color: yellow;
}
.snippetBox a {
    color: yellow;
}
.output-card {
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    background: #fff;
}
.output-card > p {
    margin: 0 !important;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    background: #00354e;
}
.output-card > .output {
    padding: 1rem;
}
.code {
    background: #f8cecc;
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.mt-1 {
    margin-top: 1rem;
}
