.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
.success {background-color: #00354e;} /* Green */
.success:hover {background-color: #00354e;}

section{
    padding: 20px;
    background: #D5E8D4;
    box-shadow: 0px 2px 10px #cdcdcd;
}
.mb-1{
    margin-bottom: 1rem;
}
input {
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 16px;
}
