.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.pie-section,
.bar-section,
.donut-section {
    width: 100%;
    text-align: center;
}
.container {
    min-width: 100%;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    .pie-section,
    .bar-section,
    .donut-section {
        width: 45%;
        text-align: center;
    }
}
