.box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin: 0px 20px;
}
.red {
    background: #ff0000c2 !important;
}
.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: #00354e;
}
.parent-section {
    padding: 0 2rem;
    border: 1px solid;
    background: antiquewhite;
}
.childBtn {
    margin-right: 1rem;
    margin-left: 1rem;
}
